@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<h1>Filling</h1>
     <div class="form-group">
                <input type="submit" id="Filling" name="Filling" value="Автоматическое наполнение бд" class="btn btn-primary" onclick="location.href='@Url.Action("Filling","BuyerAndSalesController")"/>
            </div>
